name: Publish Docker image to GHCR

# Triggers
on:
    workflow_dispatch:
        inputs:
            release_tag:
                description: "Release tag to build the Docker image from"
                required: true
                default: "1.0.0"

jobs:
    build-and-push:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Set up QEMU
              uses: docker/setup-qemu-action@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to GHCR
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Build and push multi-platform image
              uses: docker/build-push-action@v5
              with:
                  context: .
                  platforms: linux/amd64,linux/arm64
                  push: true
                  build-args: |
                      LAMBDA_VERSION=${{ github.event.inputs.release_tag }}
                  tags: |
                      ghcr.io/${{ github.repository }}:${{ github.event.inputs.release_tag }}
                      ghcr.io/${{ github.repository }}:latest
